footer#footer-main
  #footer-text Copyleft 2016, provided by 
    a(href='http://www.openhack.net') OpenHack.net
    a.footimg.first(href='http://www.github.com/omnipotentuser/openstream')
      img(src='img/github.png', width='12px')
    a.footimg(href='http://www.webrtc.org')
      img(src='img/webrtc.png', width='12px')
