footer#footer-main
  #footer-text Copyleft 2015, provided by 
    a(href='http://www.openhack.net') OpenHack.net
    a.footimg.first(href='http://www.github.com/omnipotentuser/openstream')
      img(src='img/github.png', width='32px')
    a.footimg(href='http://www.nodejs.org')
      img(src='img/nodejs.png', width='32px')
    a.footimg(href='http://www.bower.io')
      img(src='img/bower.png', width='32px')
    a.footimg(href='http://www.npmjs.com')
      img(src='img/npm32.png', width='32px')
    a.footimg(href='http://www.webrtc.org')
      img(src='img/webrtc.png', width='32px')
    a.footimg(href='http://www.gulpjs.com')
      img(src='img/gulpjs.jpg', width='32px')

