#hallway-main
  h1 Hallway
  #room-input
    input#roomnameinput(placeholder='Room Name')
    button#joinroombtn join
  #video-container
    #local-container.media-layout
      video#local-video(controls='controls', autoplay='autoplay', muted)
      textarea#local-ta
