#hallway-main
  h1 Hallway
  #room-input
    input#roomname(placeholder='Room Name')
    button#joinroombtn join
  #video-container
    #local-container.media-layout
      video#local-video
      textarea#local-ta
