#hallway-main
  #hallway-title-container
    h1 Hallway
    #hallway-room-title
  #hallway-room-input
    input#roomnameinput(placeholder='Room Name')
    button#joinroombtn join
    button#randomgeneratorbtn(title='Randomly generate a room name') auto
  #hallway-video-container
