title #{title}
link(rel='stylesheet', href='/css/style.css')
link(rel='stylesheet', href='/css/lobby.css')
link(rel='stylesheet', href='/css/hallway.css')
link(rel='stylesheet', href='/css/conference.css')
link(rel='stylesheet', href='/css/lavatory.css')
link(rel='stylesheet', href='/css/lounge.css')
link(rel='stylesheet', href='/css/stage.css')
link(rel='stylesheet', href='/css/modular.css')
link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Actor')
