title #{title}
link(rel='stylesheet', href='/css/style.css')
link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Actor')
link(rel='stylesheet', type='text/css', href='/bower_components/sweetalert/lib/sweet-alert.css')
