#lavatory-main
  h1 Lavatory
    label.lavatory-subtitle self check bandwidth and NAT traversal utility
  #lavatory-container
    button.lavatory-engage start
    #lavatory-local.lavatory-container-location
      #lavatory-menu-local.lavatory-menu
        .lavatory-menu-title Local video
        .lavatory-controls-menu
          button#lavatory-toggle-audio Disable audio
          button#lavatory-toggle-video Disable video
          #lavatory-controls-bitrate
            button#lavatory-btn-bitrate(data-toggle='dropdown') Bandwidth
            ul#lavatory-dropdown-bitrate.lavatory-dropdown-menu(role='menu')
              li
                a(href='#', id='0') No Limit
              li
                a(href='#', id='128') Cap to 128kbit
              li
                a(href='#', id='256') Cap to 256kbit
              li
                a(href='#', id='512') Cap to 512kbit
              li
                a(href='#', id='1024') Cap to 1mbit
              li
                a(href='#', id='1500') Cap to 1.5mbit
              li
                a(href='#', id='2000') Cap to 2mbit
      #lavatory-video-local.lavatory-container-video
        video
      #lavatory-bitrate-local
        input#lavatory-input-datasend(type='text', placeholder='Write a DataChannel message')
        .lavatory-container-btn-bitrate-local
          button.lavatory-btn-bitrate-send send
    #lavatory-remote.lavatory-container-location
      #lavatory-menu-remote.lavatory-menu 
        .lavatory-menu-title What the remote client sees
        label#lavatory-label-resolution 640x480
        label#lavatory-label-curbitrate 128kbps
      #lavatory-video-remote.lavatory-container-video
        video
      #lavatory-bitrate-remote
        input#lavatory-input-datarecv(placeholder="Sent message goes here" disabled)
