doctype html
html
  head
    include header
  body
    //include navbar 
    a#href-lobby(class='pagelink', alt='Lobby')
      img(id='lobby-banner', title='Return to the lobby', src='img/white_home.png', align='right', width='32')
    #page-navigator
      //.page-img-container
        //img(class='openvri-logo', src='images/openvri.svg')
      // home page
      include lobby
      // echo test assessment
      include lavatory
      // AKA classroom teacher to student model
      include conference
      // Chatroom list room names public and private
      include lounge
      // One to many relay server
      include stage
      // one to one URL based
      include hallway
      // gateway to other platforms - sip stack?
      include modular
    include footer
    include scripts
