doctype html
html
  head
    include header
  body
    //include navbar 
    a(class='pagelink', href='#', alt='Lobby')
      #lobby-banner lobby >
    #page-navigator
      //.page-img-container
        //img(class='openvri-logo', src='images/openvri.svg')
      // home page
      include lobby
      // echo test assessment
      include lavatory
      // AKA classroom teacher to student model
      include conference
      // Chatroom list room names public and private
      include lounge
      // One to many relay server
      include stage
      // one to one URL based
      include hallway
      // gateway to other platforms - sip stack?
      include modular
    include footer
    include scripts
