.lobby-main
  .lobby-img-container
  h2 OpenStream MCU
  p Nerds, you have it. Welcome to the OpenStream MCU hub.
    | Below, is your curriculum. Please pick up after yourselves. And get lost.
  hr
  h3 Lobby - You are sitting at the Lobby right here.
  h3 Lavatory - Everyone needs to fix up themselves. This is our network bandwidth self-check.
  h3 Meeting Room - A host whose lecture is taken in a room with audience full of spectators.
  h3 Lounge - A busy activity of drivel. List of named public rooms to join, or create one.
  h3 Stage - Want a piece of the soap? Your stream will be live to everyone who watches.
  h3 Hallway - We all remember how crowded, yet private, the hallway was. This is a private direct chattery.
  h3 Modular - That ugly portable outside. Poor bastards. If needed, the gateway to other protocols.
  //img(class='openvri-logo', src='img/openvri_logo.png')
  //img(class='openvri-logo', src='img/webrtc_logo.png')
