#lobby-main
  .lobby-img-container
  h2 OpenStream MCU
  p Nerds, you have it. Welcome to the OpenStream MCU hub.
    | Choose your portal below!
  hr
  a#href-hallway(class='pagelink', alt='Hallway')
    h3#hallway-link.link Hallway 
      .menu-caption We all remember how crowded, yet private, the hallway was. This is a private direct chattery.
  a#href-lavatory(class='pagelink', alt='Lavatory')
    h3#lavatory-link.link Lavatory 
      .menu-caption Everyone needs to fix up themselves. This is our network bandwidth self-check.
  a#href-lounge(class='pagelink', alt='Lounge')
    h3#lounge-link.link Lounge 
      .menu-caption A room of busybodies. List of named public rooms to join, or create one.
  a(class='pagelink disabled', href='javascript:void(0)', alt='Classroom')
    h3#conference-link.link Classroom
      .menu-caption The real deal.
  a(class='pagelink disabled', href='javascript:void(0)', alt='Stage')
    h3#stage-link.link Stage 
      .menu-caption Want to be in the spotlight? Your stream will be live to everyone who watches.
  a(class='pagelink disabled', href='javascript:void(0)', alt='Modular')
    h3#modular-link.link Modular
      .menu-caption A bit of an effort to reach there, but it is there. If needed, the gateway to other protocols.
  //a(class='pagelink', href='', alt='Lobby')
    //h3#lobby-link.link Lobby 
      //.menu-caption You are sitting at the Lobby right here.
  //img(class='openvri-logo', src='img/openvri_logo.png')
  //img(class='openvri-logo', src='img/webrtc_logo.png')
