#lounge-main
  h1 Lounge
  .lounge-overlay
    #lounge-container-list
      #lounge-list
        ul#lounge-list-items
    .lounge-main.show-inline
      #lounge-container-setup.show
        #lounge-modal-create
          .lounge-boxed.show
            input#lounge-input-roomname.in-l(type='text', placeholder='room name')
          .lounge-boxed.show(title='Privatize the room')
            input#lounge-ck-lock.in-ck-m(type='checkbox', value='lock', name'lock room')
            |  Lock Access?
          .lounge-boxed
            input#lounge-input-pw.in-l.hide(type='password', placeholder='lock password', disabled)
          .lounge-boxed.show
             button#lounge-btn-create.btn-m Create
             button#lounge-btn-cancel.btn-m.last-l Cancel
      #lounge-container-session.hide
        #lounge-video-container
