#lounge-main
  h1 Lounge
  .lounge-overlay
    #lounge-container-list
      #lounge-list
        ul#lounge-list-items
    .lounge-inline-block
      #lounge-container-setup
        .lounge-form
          input#lounge-input-roomname.lounge-form-comps(type='text', placeholder='room name')
          button#lounge-button-roomname.lounge-form-comps go
        #lounge-modal-confirm
          .lounge-boxed
            label#lounge-permission-label(tooltip='Allows room to be private') Lock Access?
            input.lounge-permission-radio(type='radio', name='permission', value='Yes')
            | Yes
            input.lounge-permission-radio(type='radio', name='permission', value='No', checked)
            | No
          .lounge-boxed
             button#lounge-button-password-accept.lounge-form-comps Accept
             button#lounge-button-password-reject.lounge-form-comps Cancel
      #lounge-container-session
        #video-container
