#lounge-main
  h1 Lounge
  .lounge-overlay
    #lounge-container-list
      #lounge-list
        ul#lounge-list-items
    .lounge-inline-block
      #lounge-container-setup
        #lounge-modal-create
          .lounge-boxed
            input#lounge-input-roomname.lounge-form-input(type='text', placeholder='room name')
          .lounge-boxed
            label#lounge-permission-label(title='Allows room to be private') Lock Access?
            input.lounge-permission-radio(type='radio', name='permission', value='Yes')
            | Yes
            input.lounge-permission-radio(type='radio', name='permission', value='No', checked)
            | No
          .lounge-boxed
            input#lounge-room-pw.lounge-form-input(type='text', placeholder='lock password')
          .lounge-boxed
             button#lounge-button-password-accept.lounge-form-btn Create
             button#lounge-button-password-reject.lounge-form-btn Cancel
      #lounge-container-session
        #lounge-video-container
