#lounge-main
  #lounge-title-container
    h1 Lounge
    #lounge-room-title
  .lounge-body
    #lounge-container-list.lounge-container.show
      #lounge-list-menu
        #lounge-btn-open-create-modal.btn-bg-l(title='Create Room')
          img(src='img/Batch-master/SVG/add.svg', align='middle', width='32')
      #lounge-room-list-container
        ul#list-items
    #lounge-container-gallery.lounge-container.hide
    .lounge-container-main.show-inline
      #lounge-modal-create.hide
        #lounge-modal-inner
          .lounge-boxed.show
            input#lounge-input-roomname.in-l(type='text', placeholder='room name')
          .lounge-boxed.show(title='Privatize the room')
            input#lounge-ck-lock.in-ck-m(type='checkbox', value='lock', name'lock room')
            |  Lock Access?
          .lounge-boxed
            input#lounge-input-pw.in-l.hide(type='password', placeholder='lock password', disabled)
          .lounge-boxed.show
             button#lounge-btn-create.btn-m Create
             button#lounge-btn-cancel.btn-m.last-l Cancel
      #lounge-video-container.hide
