.navbar-container
  #navbar-1.navbar-link lobby
  #navbar-2.navbar-link lavatory
  #navbar-3.navbar-link conference
  #navbar-4.navbar-link lounge
  #navbar-5.navbar-link stage
  #navbar-6.navbar-link hallway
  #navbar-7.navbar-link.last modular
