script(src='//code.jquery.com/jquery-1.9.1.js')
script(src='/socket.io/socket.io.js')
script(src='/bower_components/sweetalert/lib/sweet-alert.min.js')
if env == 'production'
  script(src='/js/openstream.min.js')
else
  script(src='/js/lobby/shell.js')
  script(src='/js/lobby/views.js')
  script(src='/js/conference/shell.js')
  script(src='/js/conference/views.js')
  script(src='/js/hallway/shell.js')
  script(src='/js/hallway/views.js')
  script(src='/js/lavatory/shell.js')
  script(src='/js/lavatory/views.js')
  script(src='/js/lounge/shell.js')
  script(src='/js/lounge/views.js')
  script(src='/js/modular/shell.js')
  script(src='/js/modular/views.js')
  script(src='/js/stage/shell.js')
  script(src='/js/stage/views.js')
  script(src='/js/engine/adapter.js')
  script(src='/js/engine/peerconnection.js')
  script(src='/js/engine/rtcengine.js')
  script(src='/js/vendor/janus.js')
  script(src='/js/shell.js')
