script(src='http://code.jquery.com/jquery-1.9.1.js')
script(src='/js/shell.js')
script(src='/js/lobby/lobby_shell.js')
script(src='/js/lobby/lobby_views.js')
script(src='/js/conference/conference_shell.js')
script(src='/js/conference/conference_views.js')
script(src='/js/hallway/hallway_shell.js')
script(src='/js/hallway/hallway_views.js')
script(src='/js/lavatory/lavatory_shell.js')
script(src='/js/lavatory/lavatory_views.js')
script(src='/js/lounge/lounge_shell.js')
script(src='/js/lounge/lounge_views.js')
script(src='/js/modular/modular_shell.js')
script(src='/js/modular/modular_views.js')
script(src='/js/stage/stage_shell.js')
script(src='/js/stage/stage_views.js')
