#hallway-main
  display none
  h1
    font-size 1.0em
  #room-input
    float left
    width 400px
    height 50px
    #roomnameinput
      width 150px
      height auto
    #joinroombtn
      width 50px
      height auto
      cursor pointer
  #video-container
    background-color red
    width 100%
    top 50px
    bottom 25px
    left 0px
    position absolute
    display none
    
    .media-layout
      background-color black
      height 100%
      
      video
        width 100%
        height 60%
        background-color green

      textarea
        background-color yellow
        margin-top -10px
        width 90%
        height 40%
        margin-left 5%
        margin-right 5%
