#hallway-main
  display none
  h1
    font-size 1.0em
  #room-input
    float left
    width auto
    height 100%
    border 2px solid #232367
    display block
    #roomnameinput
      width 350px
      height 60px
      font-size 32px
      margin 5px
    #joinroombtn
      width 80px
      height 60px
      cursor pointer
      font-size 28px
      vertical-align center
      margin-right 5px

  #video-container
    background-color red
    width 100%
    top 50px
    bottom 25px
    left 0px
    position absolute
    display none
    
    .media-layout
      background-color black
      height 100%
      
      video
        width 100%
        height 60%
        background-color green

      textarea
        background-color yellow
        margin-top -10px
        width 90%
        height 40%
        margin-left 5%
        margin-right 5%
