color-scheme1()
  rgba(172, 186, 203, 0.2)

border-scheme1()
  background-color color-scheme1() 

#lavatory-main
  display none
  h1
    font-size 20px
    color #123432
  label.lavatory-subtitle
    font-size 12px
    color #565656
    padding-left 20px
  #lavatory-container
    border-scheme1()
    width 768px
    height 500px
    margin 0 auto
  .lavatory-container-location
    vertical-align top
    width 340px
    height 280px
    background-color white
    display inline-block
    margin 20px

  // menus
  #lavatory-local-menu
    width 100%
    background-color blue
    background-color rgba(110,120,130, 1.0)
    height 60px
    display inline-block
    display block
  #lavatory-remote-menu
    width 100%
    background-color rgba(90,100,120, 1.0)
    height 60px
    display inline-block
    display block
  .lavatory-menu
    display inline
  .lavatory-menu-title
    color rgba(200,200,200,1.0)
    font-size 14px
    padding 1px 0px 2px 15px



  // videos
  #lavatory-local-video
    background-color black
    width 320px
    height 240px
    video
      background-color black
      height 100%

  // inputs
  #lavatory-bitrate-local
    input#lavatory-input-datasend
      width 200px
      height 25px

  // buttons
  button
    width 90px
    height 20px
    background-color rgba(102, 139, 150, 1.0)
    margin-left 3px
    color white

  #lavatory-bitrate-control
    display block

  ul#lavatory-bitrate-dropdown
    font-size 12px
    list-style none
    text-decoration none
    display none
    li
      list-style none
      text-decoration none
