color-scheme1()
  rgba(172, 186, 203, 0.2)

border-scheme1()
  background-color color-scheme1() 

#lavatory-main
  display none
  h1
    font-size 20px
    color #123432
  label.lavatory-subtitle
    font-size 12px
    color #565656
    padding-left 20px
  #lavatory-container
    border-scheme1()
    width 100%
    height 100%
  #lavatory-local
    width 340px
    height 280px
    background-color white

  // menus
  #lavatory-local-menu
    width 100%
    background-color blue
    height 60px
    display inline-block
    display block




  // buttons
  button
    width 90px
    height 20px
    background-color rgba(102, 139, 150, 1.0)
    margin-left 3px
    color white

  #lavatory-bitrate-control
    display block

  ul#lavatory-bitrate-dropdown
    font-size 12px
    list-style none
    text-decoration none
    display none
    li
      list-style none
      text-decoration none
