#lobby-main
    position absolute
    color #101050
    left 100px
    right 100px
    top 40px
    bottom 40px
    background-color #EFF8F7
    border-radius 15px
    border 10px solid #101050
    padding 25px
    overflow auto
    display none
    p
        font-size 1.2em
    h2
        text-align center
    h3
        font-size 1.0em
        .menu-caption
            font-size 0.75em
.link
    cursor pointer
