.lobby-main
    color #101050
    width 400px
    margin auto
    background-color #E0F8F7
    border-radius 15px
    border 10px solid #101050
    padding 25px
    p
        font-size 14px
    h2
        text-align center
    h3
        font-size 16px
