#lounge-main
  display none
  h1
    font-size 24px
  #lounge-container-list
    background-color rgba(0,0,0,0.3)
    height 500px
    width 200px
    float left
  #lounge-container-setup
    float right
    width 700px
    height 500px

