html
    width 100%

body
    position absolute
    top 50px
    bottom 0px
    left 200px
    right 200px
    font-size 24px
    font-family "Actor", Arial

.navbar-container
    position absolute
    top 10px
    left 50px
    right 50px
    font-size 1.3em
    display inline-block

.navbar-link
    margin-left 10px
    width 13.37%
    float left
    text-align center
    .last
        margin-right 10px

footer
    position absolute
    bottom 0px
    font-size 18px
    width 100%
    text-align center

