button-style(f)
  cursor pointer
  border 0px solid
  background-color rgba(100,110,130,1)
  font-size f
  color white
  vertical-align middle
  &:hover
    background-color rgba(100,110,130,.9)

button-size(w, h)
  height h
  width w

.btn-xl
  button-size(300px,75px)
  button-style(48px)
.btn-l
  button-size(200px,50px)
  button-style(28px)
.btn-m
  button-size(100px,35px)
  button-style(18px)
.btn-s
  button-size(70px,22px)
  button-style(14px)
.btn-xs
  button-size(30px,14px)
  button-style(10px)
