.first-s
  &:first-of-type
    margin-left 10px
.last-l
  &:last-of-type
    margin-left 30px
.last-m
  &:last-of-type
    margin-left 15px
.last-s
  &:last-of-type
    margin-left 5px
.show
  display block
.hide
  display none
.show-inline
  display inline-block
.high
  box-shadow 0px 0px 2px 2px rgba(45,49,61,0.75)
