.in-l
  height 35px
  font-size 24px
.in-m
  height 25px
  font-size 18px
.in-s
  height 15px
  font-size 10px
.in-ck-l
  width 48px
  height 48px
  font 28px
  vertical-align middle
.in-ck-m
  width 25px
  height 25px
  font-size 30px
  vertical-align middle
.in-ck-s
  width 14px
  height 14px
  font-size 12px
  vertical-align middle
