z0()
  z-index 0
z1()
  z-index 100
z2()
  z-index 200
z3()
  z-index 300

#lounge-main
  display none
  #lounge-title-container
    h1
      display inline-block
      font-size 1.0em
  #lounge-room-title
    margin-left 20px
    display inline-block
    font-size 0.7em
  .lounge-body
    position absolute
    left 0px
    top 60px
    right 0px
    bottom 30px
  .lounge-container-main
    background-color rgba(100,100,100, 1)
    position absolute
    left 210px
    top 0px
    right 0
    bottom 0
  .lounge-container
    background-color rgba(0,0,0,0.3)
    height 100%
    width 200px
  #lounge-room-list-container
    position absolute
    top 50px
    bottom 10px
    left 10px
    width 180px
    background-color rgba(255,255,255,0.2)
    color rgb(90,90,90)
    word-wrap break-word
    overflow-x hidden
    overflow-y auto
    white-space nowrap
  #lounge-modal-create
    width 400px
    height 230px
    background-color rgba(230,235,240,0.8)
    margin 100px auto
  .lounge-modal-inner
    width 370px
    height 200px
    margin 15px 15px
    top 15px
    vertical-align center
    text-align center
    position relative
    background-color rgba(50,50,50,.1)
  .lounge-boxed
    position relative
    top 10px
    margin 10px 15px
    text-align center
  #lounge-video-container
    width 100%
    height 100%
    background-color rgba(200,200,250, 1.0)
    position absolute
    top 0px
    bottom 0px
    left 0px
  .lounge-media-layout
    width 100%
    height 100%
    display inline-block
    box-sizing border-box
    padding 2px
  video
    width 100%
    height 100%
