@import lobby
@import hallway
@import conference
@import lavatory
@import lounge
@import stage
@import modular
@import buttons
@import list
@import inputs
@import effects
@import footer

html
  width 100%

body
  position absolute
  top 0px
  bottom 0px
  left 0px
  right 0px
  font-size 24px
  font-family "Actor", Arial

img#lobby-banner
  display none
  position absolute
  top 10px
  right 30px
  font-size 1.3em
  width 30px
  text-align right
  cursor pointer
  background-color rgba(255,0,0,0.0)

a.pagelink
  text-decoration none
  color #101050

a.pagelink.disabled
    pointer-events none
    cursor default
    color grey

footer
  position absolute
  bottom 0px
  font-size 18px
  width 100%
  text-align center
  a
    text-decoration none
    color #101050

